# Another Amazing Library for EDA- Dtale

In [1]:
import seaborn as sns

In [2]:
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [3]:
df=sns.load_dataset('planets')

In [4]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [6]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [8]:
import dtale

In [9]:
dtale.show(df)

{'metas': '<meta http-equiv="X-UA-Compatible" content="IE=edge">\n      <meta charset="UTF-8">', 'title': 'Dash', 'css': '<link rel="stylesheet" href="/css/main.css">\n<link rel="stylesheet" href="/css/dash.css">\n<link rel="stylesheet" href="/css/github_fork.css">', 'config': '<script id="_dash-config" type="application/json">{"url_base_pathname": null, "requests_pathname_prefix": "/charts/", "ui": false, "props_check": false, "show_undo_redo": false, "suppress_callback_exceptions": true, "update_title": "Updating..."}</script>', 'scripts': '<script src="/charts/_dash-component-suites/dash_renderer/polyfill@7.v1_8_2m1601034074.8.7.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_renderer/react@16.v1_8_2m1601034074.13.0.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_renderer/react-dom@16.v1_8_2m1601034074.13.0.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_renderer/prop-types@15.v1_8_2m1601034074.7.2.min.js"></script>\n<script src="/dash/components_bundle.js"></script>\n<script src="/dash/custom_bundle.js"></script>\n<script src="/dist/base_styles_bundle.js"></script>\n<script src="/charts/_dash-component-suites/dash_html_components/dash_html_components.v1_1_1m1599150811.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_bootstrap_components/_components/dash_bootstrap_components.v0_10_6m1601529969.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_daq/async-colorpicker.v0_5_0m1587997219.js"></script>\n<script src="/charts/_dash-component-suites/dash_daq/async-slider.v0_5_0m1587997219.js"></script>\n<script src="/charts/_dash-component-suites/dash_daq/dash_daq.v0_5_0m1587997219.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_colorscales/bundle.v0_0_4m1516149694.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-datepicker.v1_12_1m1600287003.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-dropdown.v1_12_1m1600287003.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-graph.v1_12_1m1600287003.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-highlight.v1_12_1m1600287003.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-markdown.v1_12_1m1600287003.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-slider.v1_12_1m1600287003.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/async-upload.v1_12_1m1600287003.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/dash_core_components.v1_12_1m1600287003.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/dash_core_components-shared.v1_12_1m1600287003.js"></script>\n<script src="/charts/_dash-component-suites/dash_core_components/plotly.v1_12_1m1600287005.min.js"></script>\n<script src="/charts/_dash-component-suites/dash_renderer/dash_renderer.v1_8_2m1601034099.min.js"></script>', 'app_entry': '\n<div id="react-entry-point">\n    <div class="_dash-loading">\n        Loading...\n    </div>\n</div>\n', 'favicon': '<link rel="icon" type="image/x-icon" href="/charts/_favicon.ico?v=1.16.2">', 'renderer': '<script id="_dash-renderer" type="application/javascript">var renderer = new DashRenderer();</script>'}
Exception on /charts/_dash-update-component [POST]
Traceback (most recent call last):
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dash\dash.py", line 1059, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dash\dash.py", line 994, in add_context
    output_value = func(*args, **kwargs)  # %% callback invoked %%
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dtale\dash_application\views.py", line 851, in group_values
    group_vals = build_group_val_options(group_vals, group_cols)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dtale\dash_application\layout\layout.py", line 712, in build_group_val_options
    group_vals = find_group_vals(df, group_cols)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dtale\charts\utils.py", line 648, in find_group_vals
    group_vals, _ = retrieve_chart_data(df, group_cols)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dtale\charts\utils.py", line 245, in retrieve_chart_data
    all_data = pd.concat(all_data, axis=1)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\pandas\core\reshape\concat.py", line 284, in concat
    sort=sort,
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\pandas\core\reshape\concat.py", line 331, in __init__
    raise ValueError("No objects to concatenate")
ValueError: No objects to concatenate

2020-09-30 22:36:59,400 - ERROR    - Exception on /charts/_dash-update-component [POST]
Traceback (most recent call last):
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 2447, in wsgi_app
    response = self.full_dispatch_request()
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1952, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1821, in handle_user_exception
    reraise(exc_type, exc_value, tb)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\_compat.py", line 39, in reraise
    raise value
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1950, in full_dispatch_request
    rv = self.dispatch_request()
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\flask\app.py", line 1936, in dispatch_request
    return self.view_functions[rule.endpoint](**req.view_args)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dash\dash.py", line 1059, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dash\dash.py", line 994, in add_context
    output_value = func(*args, **kwargs)  # %% callback invoked %%
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dtale\dash_application\views.py", line 851, in group_values
    group_vals = build_group_val_options(group_vals, group_cols)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dtale\dash_application\layout\layout.py", line 712, in build_group_val_options
    group_vals = find_group_vals(df, group_cols)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dtale\charts\utils.py", line 648, in find_group_vals
    group_vals, _ = retrieve_chart_data(df, group_cols)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\dtale\charts\utils.py", line 245, in retrieve_chart_data
    all_data = pd.concat(all_data, axis=1)
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\pandas\core\reshape\concat.py", line 284, in concat
    sort=sort,
  File "c:\users\sahil\appdata\local\programs\python\python37\lib\site-packages\pandas\core\reshape\concat.py", line 331, in __init__
    raise ValueError("No objects to concatenate")
ValueError: No objects to concatenate

In [10]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart_data = pd.concat([
	df['year'],
	df['number'],
	df['distance'],
], axis=1)
chart_data = chart_data.sort_values(['year'])
chart_data = chart_data.rename(columns={'year': 'x'})
chart_data = chart_data.groupby(['x'])[['number', 'distance']].count().reset_index()
chart_data = chart_data.dropna()
# WARNING: This is not taking into account all the y-axes you've specified.  For this example we'll
           use the first one you've selected, 'number'
chart_data = chart_data[chart_data['number'] > 0]  # can't represent negatives in a pie

import plotly.graph_objs as go

chart = go.Pie(labels=chart_data['x'], y=chart_data['number'], name='number')
figure = go.Figure(data=[chart], layout=go.Layout({
    'showlegend': False, 'title': {'text': 'number by year (Count)'}
}))

# If you're having trouble viewing your chart in your notebook try passing your 'chart' into this snippet:

# from plotly.offline import iplot, init_notebook_mode

# init_notebook_mode(connected=True)
# chart.pop('id', None) # for some reason iplot does not like 'id'
# iplot(chart)

IndentationError: unexpected indent (<ipython-input-10-8d2f26b880b2>, line 22)

In [12]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart_data = pd.concat([
	df['year'],
	df['number'],
	df['distance'],
], axis=1)
chart_data = chart_data.sort_values(['year'])
chart_data = chart_data.rename(columns={'year': 'x'})
chart_data = chart_data.groupby(['x'])[['number', 'distance']].count().reset_index()
chart_data = chart_data.dropna()
# WARNING: This is not taking into account all the y-axes you've specified.  For this example we'll
           use the first one you've selected, 'number'
chart_data = chart_data[chart_data['number'] > 0]  # can't represent negatives in a pie

import plotly.graph_objs as go

chart = go.Pie(labels=chart_data['x'], y=chart_data['number'], name='number')
figure = go.Figure(data=[chart], layout=go.Layout({'showlegend': False, 'title': {'text': 'number by year (Count)'}
}))

# If you're having trouble viewing your chart in your notebook try passing your 'chart' into this snippet:

# from plotly.offline import iplot, init_notebook_mode

# init_notebook_mode(connected=True)
# chart.pop('id', None) # for some reason iplot does not like 'id'
# iplot(chart)

IndentationError: unexpected indent (<ipython-input-12-c8f0e5dc3962>, line 22)

In [13]:

# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart_data = pd.concat([
	df['year'],
	df['number'],
	df['distance'],
], axis=1)
chart_data = chart_data.sort_values(['year'])
chart_data = chart_data.rename(columns={'year': 'x'})
chart_data = chart_data.groupby(['x'])[['number', 'distance']].count().reset_index()
chart_data = chart_data.dropna()
# WARNING: This is not taking into account all the y-axes you've specified.  For this example we'll
           use the first one you've selected, 'number'

import plotly.graph_objs as go

chart = go.Scattergl(
	x=chart_data['x'], y=chart_data['number'], , mode='markers', opacity=0.7, name='all',
	marker={'size': 15, 'line': {'width': 0.5, 'color': 'white'}}
)

figure = go.Figure(data=[chart], layout=go.Layout({
    'legend': {'orientation': 'h'},
    'title': {'text': 'number, distance by year (Count)'},
    'xaxis': {'tickformat': '.0f', 'title': {'text': 'year'}},
    'yaxis': {'tickformat': '.0f', 'title': {'text': 'number (Count)'}}
}))

# If you're having trouble viewing your chart in your notebook try passing your 'chart' into this snippet:

# from plotly.offline import iplot, init_notebook_mode

# init_notebook_mode(connected=True)
# chart.pop('id', None) # for some reason iplot does not like 'id'
# iplot(chart)

IndentationError: unexpected indent (<ipython-input-13-fa539e866524>, line 22)

In [14]:

# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart_data = pd.concat([
	df['year'],
	df['number'],
	df['distance'],
], axis=1)
chart_data = chart_data.sort_values(['year'])
chart_data = chart_data.rename(columns={'year': 'x'})
chart_data = chart_data.groupby(['x'])[['number', 'distance']].count().reset_index()
chart_data = chart_data.dropna()
# WARNING: This is not taking into account all the y-axes you've specified.  For this example we'll
           use the first one you've selected, 'number'

import plotly.graph_objs as go

chart = go.Scattergl(
	x=chart_data['x'], y=chart_data['number'], , mode='markers', opacity=0.7, name='all',
	marker={'size': 15, 'line': {'width': 0.5, 'color': 'white'}}
)

figure = go.Figure(data=[chart], layout=go.Layout({
    'legend': {'orientation': 'h'},
    'title': {'text': 'number, distance by year (Count)'},
    'xaxis': {'tickformat': '.0f', 'title': {'text': 'year'}},
    'yaxis': {'tickformat': '.0f', 'title': {'text': 'number (Count)'}}
}))

# If you're having trouble viewing your chart in your notebook try passing your 'chart' into this snippet:

# from plotly.offline import iplot, init_notebook_mode

# init_notebook_mode(connected=True)
# chart.pop('id', None) # for some reason iplot does not like 'id'
# iplot(chart)

IndentationError: unexpected indent (<ipython-input-14-fa539e866524>, line 22)